{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load wagtailadmin_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/region_page.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 px-0 pb-0">
            <nav class="navbar navbar-expand-md navbar-light pb-0">
                <a class="navbar-brand p-2 pb-3" href="#">
                    <img src="https://upload.wikimedia.org/wikipedia/en/1/1a/Unite_the_Union.svg" style="width: 60px;">
                </a>

                <button class="navbar-toggler d-md-none m-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto pb-2 mb-lg-0">
                        {% for block in page.menu %}
                        <li class="nav-item p-2">
                            <a href="{{block.value.link}}">{{block.value.link_text}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

{% image page.header_image original style="max-width: 100%; object-fit: contain; height: auto;" %}

<div class="nav-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <nav class="navbar d-none d-md-block">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% for block in page.menu %}
                        <li class="nav-item px-2">
                            <a class="nav-link" href="{{block.value.link}}">{{block.value.link_text}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container p-2">
    <div class="row">
        <div class="col-md-6 offset-md-3">

        <h1>{{ page.title }}</h1>
        {{page.standfirst|richtext}}
        <h2>News from {{page.title}}</h2>
        <article style="display: grid; justify-content: center;">
            {% for block in page.body %}
                <section class="block-{{block.block_type}}">                    
                    {% if block.block_type == 'link' %}
                        <h3>{{ block.value.title }}</h3>
                        {{block.value.body}}
                        <a href="{{block.value.link}}">{{block.value.link_text}}</a>
                    {% else %}
                        {% include_block block %}
                    {% endif %}
                </section>
        {% endfor %}
        </article>    
        </div>
    </div>
</div>

{% endblock content %}