{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load wagtailadmin_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://upload.wikimedia.org/wikipedia/en/1/1a/Unite_the_Union.svg" style="width: 60px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for block in page.menu %}
                <li class="nav-item">
                    <a class="nav-link" href="{{block.value.link}}">{{block.value.link_text}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    {% image page.header_image original %}
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

        <h1 style="text-align: center;">{{ page.title }}</h1>
        {{page.standfirst|richtext}}
        <h2>News from {{page.title}}</h2>
        <article style="display: grid; justify-content: center;">
            {% for block in page.body %}
                <section class="block-{{block.block_type}}">                    
                    {% if block.block_type == 'link' %}
                        <h3>{{ block.value.title }}</h3>
                        {{block.value.body}}
                        <a href="{{block.value.link}}">{{block.value.link_text}}</a>
                    {% else %}
                        {% include_block block %}
                    {% endif %}
                </section>
        {% endfor %}
        </article>    
        </div>
    </div>
</div>

{% endblock content %}