/* .nav-wrap, .block-link {
    background-color: #006C88;
    color: white;
}

.block-link>a, .nav-wrap a, .nav-wrap a:hover {
    color: white;
    text-decoration: underline;
}

.block-link {
    padding: 20px;
}


.block-link>a::after {
    content: " ➔";
} */